* {
  margin: 0;
  padding: 0; }

html {
  background: #FCFEFF;
  font-family: 'Open Sans', sans-serif; }

.imgInfo {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 500px;
  width: 500px;
  background: red;
  display: none; }

.wrapper {
  text-align: center;
  width: 100%; }
  .wrapper#header {
    background: -webkit-linear-gradient(left, #28546C, #587D91);
    line-height: 16.66%;
    text-align: center;
    width: 100%;
    height: 100px; }
    .wrapper#header header {
      width: 100%;
      max-width: 1024px;
      margin: auto;
      position: relative;
      display: block;
      height: 100%; }
      .wrapper#header header img {
        cursor: pointer; }
        .wrapper#header header img#logo {
          position: absolute;
          left: 4%;
          top: 50%;
          transform: translateY(-50%); }
        .wrapper#header header img#upload, .wrapper#header header img#hamburger {
          position: absolute;
          right: 4%;
          top: 50%;
          transform: translateY(-50%);
          width: 23px;
          height: 23px; }
        .wrapper#header header img#filter {
          position: absolute;
          right: 10%;
          top: 50%;
          transform: translateY(-50%); }
          .wrapper#header header img#filter:focus {
            outline: none; }
          .wrapper#header header img#filter:focus ~ #filtermenu {
            display: block; }
      .wrapper#header header #filtermenu, .wrapper#header header #settingsmenu {
        display: none;
        position: absolute;
        top: 80%;
        background: #FCFEFF;
        z-index: 1000;
        border-radius: 5px;
        box-shadow: 0 0 24px -2px #787878;
        padding: 1%;
        right: 2%;
        text-align: left; }
        .wrapper#header header #filtermenu:before, .wrapper#header header #settingsmenu:before {
          content: '';
          border-bottom: 12px solid #FCFEFF;
          border-left: 15px solid transparent;
          border-right: 15px solid transparent;
          position: absolute;
          top: -12px; }
        .wrapper#header header #filtermenu h2, .wrapper#header header #settingsmenu h2 {
          margin: 12px;
          margin-top: 21px;
          font-weight: 400;
          vertical-align: middle; }
      .wrapper#header header #filtermenu {
        height: 225px;
        width: 275px; }
        .wrapper#header header #filtermenu:before {
          right: 78px; }
        .wrapper#header header #filtermenu .colours {
          display: flex;
          flex-wrap: wrap;
          justify-content: center; }
          .wrapper#header header #filtermenu .colours .colour {
            cursor: pointer;
            position: relative;
            box-shadow: 0 0 20px -2px #787878;
            transition: .2s;
            width: 60px;
            height: 60px;
            margin: 10px;
            border-radius: 50%; }
            .wrapper#header header #filtermenu .colours .colour#red {
              background: #FF505F; }
            .wrapper#header header #filtermenu .colours .colour#blue {
              background: #4B8AFF; }
            .wrapper#header header #filtermenu .colours .colour#green {
              background: #16C430; }
            .wrapper#header header #filtermenu .colours .colour#yellow {
              background: #FCDB3E; }
            .wrapper#header header #filtermenu .colours .colour#white {
              background: #FCFEFF; }
            .wrapper#header header #filtermenu .colours .colour#black {
              background: #383838; }
            .wrapper#header header #filtermenu .colours .colour:after {
              transition: .2s;
              content: '';
              height: 0;
              width: 0;
              line-height: 50px;
              text-align: center;
              background: transparent;
              border-radius: 50%;
              position: absolute;
              left: 0;
              right: 0;
              top: 0;
              bottom: 0;
              margin: auto;
              z-index: 10002; }
            .wrapper#header header #filtermenu .colours .colour:before {
              transition: all .2s ease-in-out;
              content: url(https://upload.wikimedia.org/wikipedia/commons/9/90/Check_mark_23x20_02.svg);
              display: none;
              height: 20px;
              width: 20px;
              line-height: 20px;
              text-align: center;
              position: absolute;
              left: 0;
              right: 0;
              top: 0;
              bottom: 0;
              margin: auto;
              z-index: 10003; }
            .wrapper#header header #filtermenu .colours .colour:hover:after {
              background: rgba(252, 254, 255, 0.6);
              height: 50px;
              width: 50px; }
            .wrapper#header header #filtermenu .colours .colour:hover:before {
              display: block; }
      .wrapper#header header #settingsmenu {
        height: 225px;
        width: 275px; }
        .wrapper#header header #settingsmenu:before {
          right: 16px; }
        .wrapper#header header #settingsmenu ul {
          list-style-type: none;
          margin: 21px 12px;
          line-height: normal; }
          .wrapper#header header #settingsmenu ul li {
            margin: 10px 0;
            height: 22px; }
            .wrapper#header header #settingsmenu ul li a {
              text-decoration: none;
              color: #28546C;
              font-weight: 400;
              display: flex;
              align-items: center; }
              .wrapper#header header #settingsmenu ul li a:hover {
                color: black; }
              .wrapper#header header #settingsmenu ul li a img {
                height: 20px;
                width: 30px;
                margin: 0;
                margin-right: 5px; }
  .wrapper#content {
    position: relative; }
    .wrapper#content #loadercntnr {
      position: fixed;
      left: 0;
      right: 0;
      top: 100px;
      bottom: 0;
      height: 87vh;
      display: block;
      background: rgba(255, 255, 255, 0.8); }
      .wrapper#content #loadercntnr #loader {
        height: 30px;
        width: 30px;
        border-radius: 50%;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        box-shadow: 75px 0 0 rgba(130, 206, 229, 0.8), 52.5px 52.5px 0 rgba(77, 186, 218, 0.8), 0 75px 0 rgba(40, 157, 192, 0.8), -52.5px 52.5px 0 rgba(29, 114, 139, 0.8), -75px 0 0 rgba(18, 71, 86, 0.8), -52.5px -52.5px 0 rgba(7, 27, 34, 0.8), 0 -75px 0 rgba(0, 0, 0, 0.8), 52.5px -52.5px 0 rgba(183, 227, 240, 0.8);
        -webkit-animation: spin 2s infinite ease; }
    .wrapper#content #popular {
      width: 100%;
      max-width: 1024px;
      margin: auto;
      display: flex;
      flex-wrap: wrap; }
      .wrapper#content #popular a:hover:after {
        content: attr("data-title"); }
  .wrapper#upload-content {
    text-align: center; }
    .wrapper#upload-content #uploadbutton {
      position: relative;
      margin: auto;
      background: url("../img/upload-img.png");
      background-repeat: no-repeat;
      background-position: 50% 25%;
      width: 100%;
      height: 629px; }
      .wrapper#upload-content #uploadbutton #img {
        opacity: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        z-index: 5;
        cursor: pointer; }
        .wrapper#upload-content #uploadbutton #img:focus {
          outline: none; }
      .wrapper#upload-content #uploadbutton h1 {
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        z-index: 4; }
      .wrapper#upload-content #uploadbutton #filetransfer {
        position: absolute;
        left: 0;
        right: 0;
        top: 70%;
        z-index: 4;
        width: 40vw;
        margin: auto;
        text-align: center; }
        .wrapper#upload-content #uploadbutton #filetransfer #progressbar {
          margin: auto;
          width: 100%;
          height: 3vh;
          background: #6E90A2; }
          .wrapper#upload-content #uploadbutton #filetransfer #progressbar #done {
            height: 100%;
            width: 0%;
            background: #28546C;
            z-index: 3; }
          .wrapper#upload-content #uploadbutton #filetransfer #progressbar:before {
            content: attr(data-task);
            color: #FCFEFF;
            display: block;
            position: absolute;
            top: 0;
            left: 1%;
            bottom: 0;
            z-index: 4; }
          .wrapper#upload-content #uploadbutton #filetransfer #progressbar:after {
            content: attr(data-percent);
            color: #FCFEFF;
            display: block;
            position: absolute;
            top: 0;
            right: 1%;
            bottom: 0;
            z-index: 4; }

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg); } }

/*# sourceMappingURL=style.css.map */
